article > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#adiv {
    width: 250px;
}

fieldset {
    display:flex;
    justify-content: center;
    align-items: center;
}

fieldset > label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15;
}