thead > tr {
    background-color: darkblue;
    color: white;
}

th {
    text-align: center;
    color: white;
}

.inten0,  .inten1, .inten2 {
    display: inline-flex;
    width: 10%; 
    justify-content: center;
    align-items: center; 
}

.inten0 {
    color : green ; 
}
.inten1 {
    color : red ; 
}
.inten2 {
    color : blue ; 
}

.numtd {
    display: inline-flex;
    width: 100%; 
    justify-content: right;
    align-items: right;
}
.title {
    display: inline-flex;
    width: 10%; 
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}

.con {
    display: inline-flex;
    width: 20%; 
    height: 50px;
    justify-content: center;
    align-items: center;  
    color: blue;
    background-color: white;
}